src/hello.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://bluedash.net/ws"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloService"
	targetNamespace="http://bluedash.net/ws">
	<wsdl:types>
		<xsd:schema targetNamespace="http://bluedash.net/ws">
			<xsd:element name="helloRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="who" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="helloResponse" type="xsd:string"></xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="sayHelloRequest">
		<wsdl:part element="tns:helloRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="sayHelloResponse">
		<wsdl:part element="tns:helloResponse" name="response" />
	</wsdl:message>
	<wsdl:portType name="HelloService">
		<wsdl:operation name="sayHello">
			<wsdl:input message="tns:sayHelloRequest" />
			<wsdl:output message="tns:sayHelloResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HelloServiceSOAP" type="tns:HelloService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sayHello">
			<soap:operation
				soapAction="http://bluedash.net/ws/sayHello" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HelloService">
		<wsdl:port binding="tns:HelloServiceSOAP"
			name="HelloServiceSOAP">
			<soap:address location="http://localhost:8080/ws/sayHello" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
